<% include partials/header%>

<h2>camps page</h2>


<% camps.forEach(function(camp){ %>
    <div>
        <h4><%= camp.name %></h4>
        <img src="<%= camp.image %>">
    </div>
<% }); %>

<% include partials/footer%>