<% include partials/header%>

<div class="container">
    <header class="jumbotron">
    <div class="container">
        <h2>Welcome to baseCamp</h2>
        <p>View the best mountains all over the world</p>
        <p><a class = "btn btn-primary btn-lg" href="/camps/new">Add a new camp</a></p>      
    </div>

    </header>
    <!--bootstrap 4 had me messed up there for a second trying to get below working..-->
    <div class="row text-center" style="display:flex;flex-wrap:flex;">
        <% camps.forEach(function(camp) { %>
        <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
           <div class="img-thumbnail">
                <div>
                  <img src="<%= camp.image %>" class="img-thumbnail  border-white" style="border: 0; padding:0;">
                </div>
                <h4> <%= camp.name  %> </h4>
            </div>
        </div>
        <% }) %>

    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h3>Most popular sites</h3>
    </div>
</div>

<% include partials/footer%>