<% include partials/header %>
<h1>Create a New Camp</h1>

<form action="/camps" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="image" placeholder="image url">
    <button>Submit</button>
</form>

<% include partials/footer %>
