.card img {
    width: 100%;
}

.caption {
    padding:9px;
}

.deleteForm {
    display: inline;
}
#map {
    height: 400px;
    width: 100%;
}

body {
    background-image: url("/transback.png") no-repeat;
    background-size: cover;
}