.card img {
    width: 100%;
}

.caption {
    padding:9px;
}

.deleteForm {
    display: inline;
}
#map {
    height: 400px;
    width: 100%;
}

body {
    background-image: url("/transback.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}